/* Style global */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFAFA;
    max-height: 100vh;
}

.hidden {
    opacity: 0;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}


/* Mise en page générale */

.flexcontainer {
    height: 100vh;
}


/* Barre de navigation */

header {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    width: 22%;
    background-color: #FFFAFA;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    z-index: 8;
    height: 100vh;
}

.logo {
    margin: 0 1rem;
}

.credits {
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1.5;
}

.logo,nav,.fadec {
    opacity: 0;
    animation: fade 1s forwards;
}

header a{
    color: black;
    text-decoration: none;
}

nav ul  {
    margin: 0;
    padding: 0;
}

nav li {
    opacity: 0.9;
    display: block;
    font-weight: 600;
    letter-spacing: 0.2em;
    font-size: 0.8em;
    margin: 1.8rem;
}

a {
    position: relative;
    padding-bottom: 0.2rem;
}

.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.16em;
    background-color: #228896;
    opacity: 1;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.16em;
    background-color: #228896;
    opacity: 0;
    transition: opacity 400ms;
}
  
nav a:hover::after,
nav a:focus::after {
    opacity: 1;
    transition: all 800ms;
}


/* Nav mobile */

.burgerbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 4rem;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 10;
    border-radius: 0 0 3px 0;
}

#burgersign {
    display: none;
    width: 2rem;
    height: 4px;
    background-color: black;
    position: fixed;
    left: 0;
    margin: 1.5rem 1rem;
    z-index: 10;
}

#burgersign::before,#burgersign::after {
    content: "";
    width: 2rem;
    height: 4px;
    background-color: black;
    display: inline-block;
    position: absolute;

}

#burgersign::before{
    top: 10px;
}

#burgersign::after{
    top: -10px;
}


/* Contenu principal */

main {
    margin-left: 22%;
    height: 100vh;
}

h1 {
    text-transform: uppercase;
    font-size: 2.4rem;
    margin: 0;
    line-height: 1;
}

h2 {
    font-weight: 400;
    margin: 0;
}

.sidecontainer {
    display: flex;
    width: 100%;
    font-style: italic;
    font-size: 0.9em;
}

.sidephoto {
    flex: 1;
    margin: 3rem 1rem;
    animation: fadeInLeft 1.5s;
    -webkit-animation: fadeInLeft 1s;
}

.sidephoto img {
    width: 100%;
}

.sidephotoimg1 img {
    height: 100%;
}

.sidephotoimg2 img{
    height: auto;
}

.sidephoto figcaption {
    margin-bottom: 1rem;
}

.sidetext {
    flex: 1;
    margin: 3rem 3rem 3rem 1rem;
    line-height: 1.6;
    animation: fadeInLeft 2s;
    -webkit-animation: fadeInLeft 1.2s;
    position: relative;
    width: 100%;
}


/* Home / Atelier */

.workshop {
    background-image: url("../assets/img/ACCUEIL.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;

}

.overlay {
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

.overlay p {
    color: white;
    background-color: rgba(0,0,0,0.7);
    width: 55%;
    font-size: 1.1rem;
    line-height: 1.4;
    font-weight: 300;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
    opacity: 0;
    -webkit-animation: fadeInUp 0.5s forwards;
    animation: fadeInUp  0.8s forwards;
}



/* Page oeuvre */


.statuename {
    font-size: 2.4rem;
    margin-bottom: 1.3rem;
}

.buttonsgroup {
    width: 90%;
    display: flex;
}

.button{
    margin: 3rem 0.2rem;
    display: inline-block;
    padding: 0.3rem 1rem;
    background-color: #262626;
    transition: background-color 0.4s;
    text-align: center;
}

.button:hover{
    background-color: rgb(100, 100, 100);
    transition: background-color 0.4s;
}

.button a{
    color: white;
    text-decoration: none;
    font-style: normal;
    font-weight: 100;
}

#sidecar {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    color: #262626;
}

#sculptext {
    margin: 2rem 3rem 3rem 1rem;
    letter-spacing: 1.5;
}

.matiere{
    font-size: 1.5rem;
    font-style: normal;
    font-weight: bold;
    margin: 0;
    letter-spacing: 1.5;
}

#sculptext p {
font-style: normal;
font-size: 1.4rem;
margin: 0;
color: #262626;
letter-spacing: 1.5;
}


/* Caroussel d'images */

#caroussel  {
    width: 83%;
    margin: 0;
}

.relativeP {
    position: relative;
}

.mainpic {
    width: 100%;
    position: relative;
}

.thumbnail {
    width: 100%;
    display: flex;
}

.bigpic {
    display: none;
    cursor: pointer;
    transition: 0.3s;
}

.showimg {
    display: flex;
}

.tpic {
    filter: grayscale(80%);
}

.tpic:hover{
    filter: none;
}

.clear{
    filter:none;
}

.fleche {
    font-style: normal;
    color: white;
    font-size: 2rem;
    padding: 0.5rem; 
    position: absolute;
    top: 30%;
    cursor: pointer;
    width: 1.2rem;
    font-weight: bold; 
    z-index: 10;
    text-align: center;
}

.bigfleche {
    font-size: 4rem;
    top: 40%;
    width: 4.2rem;
}

#prev {
    left: 0;
    border-radius: 0 10px 10px 0;
}

#next {
    right: 0;
    border-radius: 10px 0 0 10px;
}

#prev:hover,#next:hover{
    background-color: rgba(0,0,0,0.7);
    transition: background-color 0.3s;
}



/* Image plein écran */

.modal {
    display: flex;
    position: fixed;
    z-index: 8;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
}

.modal .bigpic {
    height: 100vh;
    justify-content: center;
    align-items: center;

}

.modal .bigpic img {
    max-height: 90%;
    max-width: 90vw;
    animation: fade 0.3s;
    -webkit-animation: fade 0.3s;
    height: auto;
    width: auto !important;
}
  
.close {
    display: none;
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}



/* Page présentation des sculptures */


.mosaique {
    margin-top: 3rem;
    margin-right: 2rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}

.sculpture {
    width: 23%;
    height: 0;
    padding-top: 23%;
    text-align: center;
    overflow: hidden;
    margin: 0.6rem;
    background-image: url("../assets/img/sculptures/s11.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    opacity: 0;
    animation: fadeInUpLeft 0.5s forwards;
}

#coupleB {
    background-image: url("../assets/img/sculptures/s11b.jpg");
}
#surv {
    background-image: url("../assets/img/sculptures/s21b.jpg");
    animation-delay: 0.15s;
}
#extract {
    background-image: url("../assets/img/sculptures/s33b.jpg");
    animation-delay: 0.3s;
}
#femtourne {
    background-image: url("../assets/img/sculptures/s41b.jpg");
    animation-delay: 0.45s;
}
#tetetell {
    background-image: url("../assets/img/sculptures/s11.jpg");
    animation-delay: 0.6s;
} 
#femtemp {
    background-image: url("../assets/img/sculptures/s21.jpg");
    animation-delay: 0.75s;
} 
#homI {
    background-image: url("../assets/img/sculptures/s31.jpg");
    animation-delay: 0.9s;
} 
#rev {
    background-image: url("../assets/img/sculptures/s41.jpg");
    animation-delay: 1.05s;
} 
#amour {
    background-image: url("../assets/img/sculptures/s51.jpg");
    animation-delay: 1.2s;
} 
#douleur {
    background-image: url("../assets/img/sculptures/s61.jpg");
    animation-delay: 1.35s;
} 
#teteH {
    background-image: url("../assets/img/sculptures/s71.jpg");
    animation-delay: 1.5s;
} 
#homtemp {
    background-image: url("../assets/img/sculptures/s81.jpg");
    animation-delay: 1.65s;
} 
#fier {
    background-image: url("../assets/img/sculptures/s91.jpg");
    animation-delay: 1.8s;
}
#chev {
    background-image: url("../assets/img/sculptures/s101.jpg");
    animation-delay: 1.95s;
}
#couple {
    background-image: url("../assets/img/sculptures/s111.jpg");
    animation-delay: 2.1s;
}
#homtens {
    background-image: url("../assets/img/sculptures/s121.jpg");
    animation-delay: 2.25s;
}
#danse {
    background-image: url("../assets/img/sculptures/s141.jpg");
    animation-delay: 2.4s;
}
#femfleur {
    background-image: url("../assets/img/sculptures/s161.jpg");
    animation-delay: 2.55s;
}
#epaule {
    background-image: url("../assets/img/sculptures/s171.jpg");
    animation-delay: 2.7s;
}
#humcouple {
    background-image: url("../assets/img/sculptures/s191.jpg");
    animation-delay: 2.85s;
}
#homref {
    background-image: url("../assets/img/sculptures/s211.jpg");
    animation-delay: 3s;
}
#femdeb {
    background-image: url("../assets/img/sculptures/s231.jpg");
    animation-delay: 3.15s;
}
#homroc {
    background-image: url("../assets/img/sculptures/s251.jpg");
    animation-delay: 3.3s;
}
#tetvent {
    background-image: url("../assets/img/sculptures/s271.jpg");
    animation-delay: 3.45s;
}

a.linkS {
    position: absolute;
    height: 110%;
    width: 100%;
    display: flex;
    text-decoration: none;
    top:0;
    left:0;
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    -webkit-transform: translate(0, -10px);
    transform: translate(0, -10px);
    transition: all 0.2s;
}

a.linkS:hover {
    opacity: 1;
    transition: opacity 1s;
    -webkit-transform: none;
    transform: none;
    transition: all 0.2s;
}


/* Contact bloc 2 photos */

.photos2cote {
    display: flex;
    justify-content: center;
}

.photos2cote img {
    width: 48%;
    margin: 1%;
}


/* Légendes sur deux lignes en mobile */

.figmobile {
    display: none;
}


/* Contact slideshow 

.slideshow {
    position: relative;
}

.slideb {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.slideb button {
    margin: 1rem;
    color: black;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.7);
    transition: background-color 0.2s;
}

.slideb button:hover {
    margin: 1rem;
    color: black;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 1);
    transition: background-color 0.2s;
}

.slidepic {
    opacity: 0;
    transition: opacity  0.5s; 
    display: flex;
    justify-content: center;
}

.slidepic2 {
    opacity: 1;
    transition: opacity  0.5s;  
    display: flex;
    justify-content: center;  
}

#slide2 {
    position: absolute;
    top: 0;
    left: 0;
} */

/* Animations */

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
    opacity: 1;}
}
@-webkit-keyframes fade {
    from {
        opacity: 0;
    }
    to {
    opacity: 1;}
}

@-webkit-keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate(0, 20px);
      transform: translate(0, 20px);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate(0, 20px);
      transform: translate(0, 20px);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}

@-webkit-keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate(-80px, 0);
      transform: translate(-80px, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate(-80px, 0);
      transform: translate(-80px, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}

@-webkit-keyframes fadeInUpLeft {
    from {
      opacity: 0;
      -webkit-transform: translate(-5px, 10px);
      transform: translate(-5px, 10px);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInUpLeft {
    from {
      opacity: 0;
      -webkit-transform: translate(-5px, 10px);
      transform: translate(-5px, 10px);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}

@-webkit-keyframes fade {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}


/* Responsive */


@media all and (max-width: 1325px) {
    .sculpture {
        width: 22%;
        padding-top: 22%;
    }
}

@media all and (max-width: 1100px) {
    header {
        width: 25%;
    }
    main {
        margin-left: 25%;
    }
    .sidecontainer {
        flex-direction: column;
        align-items: center;
    }
    .sidephoto {
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sidephoto img {
        width: 82%;
    }
    .sidephoto figcaption {
        width: 82%;
        text-align: center;
    }
    .figmobile {
        display: inline-block;
    }
    .figdesktop {
        display: none;
    }
    #caroussel img {
        width: 100%;
    }
    .sidetext {
        text-align: center;
    }

    #caroussel {
        width: 60%;
    }

    #sidecar {
        margin-bottom: 0;
    }
    .sidetext {
        margin: 0 ;
        width: 79%;
        text-align: justify;
        margin-bottom: 2rem;
    }
    #sculptext {
        margin: 1rem 0 2rem 0;
        text-align: center;

    }

    .buttonsgroup {
        position: relative;
        display: inline-block;
        margin: 0 auto;
    }

    .photos2cote {
        width: 50%;
    }
}

@media all and (max-width: 900px) {
    h1 {
        font-size: 1.8rem;
    }
    h2 {
        font-size: 1rem;
    }
    nav li, .credits {
        font-size: 0.6rem;
    }
    .sculpture {
        width: 46%;
        padding-top: 46%;
    }
    .bigfleche {
        font-size: 2rem;
        width: 2.2rem;
    }

}

@media all and (max-width: 760px) {
    .statuename {
        font-size: 1.8rem;
    }
    .matiere {
        font-size: 1.2rem;
    }
    #sculptext p {
        font-size: 1rem;
    }
    .button {
        font-size: 0.8rem;
    }
    #burgersign {
    display: inline-block;
    }
    .logo {
        margin-top: 3rem;
    }
    header {
        width: 40%;
        transform: scaleX(0);
        transition: transform 0.4s;
        transform-origin: center left;
    }
    main{
        width: 100%;
        margin-left: 0;
        transition: all 0.4s;
    }
    .reveal1 {
       transform: scaleX(1);
       transition: transform 0.4s;
       transform-origin: center left;
    }
    .reveal2 {
        width: 60%;
        margin-left: 40%;
        transition: all 0.4s;
    }

    .overlay p {
        font-size: 0.9rem;
        margin-bottom: 6rem;
        animation-delay: 1s;
        -webkit-animation-delay: 1s;
    }
    .sidephoto {
        width: 80%;
        margin-bottom: 1rem;
    }
    .sidephoto img {
        width: 100%;
    }
    .mosaique {
        margin: 0 auto;
        width: 90%;
        padding: 3rem 0;
    }
    #caroussel {
        width: 90%;
    }
    .buttonsgroup {
        margin-top: 1rem;
    }
    .button {
        display: block;
        margin: 0.3rem 0;
    }
}

@media all and (max-width: 550px) {
    .sculpture {
        width: 40%;
        padding-top: 45%;
    }
}